# Evitar subir archivos .zip
/Salidas_archivos/*.zip

# Environment
.venv/

# Configuracion
config.json

# Cache
__pycache__/

# Logs
logs/
*.log

#Tests
.pytest_tmp/
.pytest_cache/
.coverage
htmlcov/